<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI Web App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
</head>

<body style="background: #1289A7; margin-top: 3em">
    <div class="text-center container">
	<div class="card" style="width: 60%">
 	    <div class="card-header">
		<h2 class="h4">Upload de arquivo</h2>
	    </div>

	    <div class="card-body">
                <!-- Form HTML para envio do arquivo. IMPORTANTE conter o enctype -->
                <form method="post" enctype="multipart/form-data">
                    <!-- Tag do Django para evitar o ataque do tipo Cross Site Request Forgery -->
                    {% csrf_token %}
        	    <div class="form-group">
		        <label for="image">Selecione o arquivo para Upload:</label>
   	                <input type="file" id="image" name="image" class="form-control-file mb-3">
			<button type="submit" class="btn btn-info">Enviar</button>
  	            </div>		
                </form>
	    </div>
	</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
